
   body{
background-image: url(imagem/martins-turismo.png);
background-repeat: no-repeat;
background-size: 445px;
width: 358px;
height: 628px;
left: 2px; 
top: -1tx;
text-align: center;

}

   h1 {
    text-align: center;
    color: white;
    font-family: "Open Sans Condesesed", sans-serif;
    font-size: 32px;
   }
   p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family:"Open Sans Condesesed", sans-serif;
     

   }
   form{
    width: 400px;
    background: rgb(52, 121, 224);
    padding: 1em;
    border: radius 0.5em; 
    margin: 0 auto;
    box-shadow: 0 4px 8px rgb(17, 16, 16);
    color: white;
    }
   


















